<html>
<!-- navbar -->
<div navbar-directive ng-controller="navbarCtrl"></div>
<!-- end navbar -->

<!-- Content -->
<div class="container">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12 header-lite">
			<h1 class="page-header">{{username}}</h1>
		</div>
		<div pool-form-directive></div>
	</div>

	<hr>
	<!-- Projects Row -->
	<div class="row">
		<div ng-repeat="pool in pools">
			<div class="col-md-3" ng-click="openPool(pool)">
				<div class="thumbnail pool-item">
					<div class="caption">
						<h4 class="pool-title">{{pool.title}}</h4>
					</div>
					<div class="ratings">
						<i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
						<p>{{pool.voted.length}} voted</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- end content -->

</html>